*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrapper{
    width: 100%;
    
}.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(REALSTUDY.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    background: rgba(0, 0, 0, 0.569);
    background-clip: content-box;
    height: 50px;
    width: 100%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 10px;
}.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #724fffaf;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
}.content h1{
    font-size: 60px;
    margin-top: 80px;
}.content p{
    font-size: 25px;
    font-weight: 100;
    margin: 20px auto;
    line-height: 25px;
    padding-bottom: 50px;
}
.button{
    color: #fff;
    text-decoration: none;
    width: 200px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 10px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
    border: 1px solid #724fffaf;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
span{
    background: #724fffaf;
    height: 100%;
    width: 0%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}.button:hover span{
    width: 100%;
}.button:hover{
    border: none;
}

.description{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.description h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #c9c9c9;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 10px;
    padding-inline: 5px;
}
.description h3{
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.desc-col{
    flex-basis: 31%;
    background: #724fff1d;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}
.desc-col:hover{
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.3);
}

h1{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}
.test-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #724fff1d;
    cursor: pointer;
    display: flex;
}.test-col p{
    margin: 10px;
}.test-col h3{
    margin: 10px;
    color: #ddda9e;
    margin-left: 5%;
}
.contactus {
    width: 80%;
    padding-top: 50px;
    margin-bottom: 100px;
    padding-inline: 10px;
    background: #724fff1d;
    margin: auto;
    text-align: center;
}.contactus form.module {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}.inputfield{
    width: 60%;
    padding: 10px 10px;
    margin: 5px 0;
    border-radius: 5px;
    border-width: 2px;
    border-color: #724fffaf;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
}

.footer{
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(REALSTUDY.png);
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    padding: 100px 0;
}


@media(max-width: 700px){
    .button{
        display: inline-block;
        padding: 15px 0;
    }
    .content h1{
        font-size: 50px;
    }
    .content p{
        font-size: 18px;
    }
    .navbar ul li a{
        display: block;
    }
    .row{
        flex-direction: column;
    }
    .inputfield{
        font-size: 13px;
    }
}